@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainFont:"Poppins", sans-serif;
    --subFont:"Inter", sans-serif;
    --mainColor:#545BE8
}

body{
    font-family: var(--mainFont);
    height: 5000px;
}

.container{
    width: calc(100% - 120px);
    margin: auto;
}
/*start header*/
.header{
   position: sticky;
   top: 0;
   box-shadow: 0px 4px 4px rgba(0, 0, 0,  0.25);
   padding: 20px 0 ;
   background-color: #fff;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.header .logo img{
    width: 35px;
}

.header .logo a{
    color: var(--mainColor);
}

.container .nav  a{
    color: #101928;
}



.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header .auth a{
    font-family: var(--subFont);
    padding: 10px 30px;
}

.header .auth a:first-of-type{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
}

.active{
    font-weight: 900;
}

@media (max-width:990px){

    .nav{
        display: none;}
}
/* end header */

/* start testimnials */

.testimnials{
     text-align: center;
     padding: 40px 0;
}

.testimnials h2{
    margin-bottom: 30px;
}

.testimnials .row{
    gap: 40px;
}

.testimnial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; 
    width: calc( ( 100% - 40px ) / 2 );
    align-items: flex-start;
    box-shadow: 0px 14.237196px 8.23719596862793px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
} 

.testimnial::after{
    content:"" ;
    border-top: 40px solid #a3a3a3;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top:0;
    right:0;
}

.testimnial .user-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.testimnial .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimnial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px; 
    align-items: flex-start;

}

.testimnial .user-info .user-data span{
    font-size: 12px;
    color: #969696;
}

.testimnial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

p{
    color: #646464;
padding: ;
}





/* start footer */
.footer{
    background-color: #393e46;
    color: #fff;
    padding: 50px 0;
}

.footer a{
    color: #fff;
}

.footer .row{
    gap: 40px;
}

.footer .footer-start,
.footer .footer-end
{
    width: calc(( 100% - 40px ) / 2 );
}

.footer .footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;

}

.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer .footer-start .logo img{
    width: 35px;
}

.footer .footer-start .logo a{
    font-size: 14px;
}

.footer .footer-start p{
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 200;
}

.footer .footer-start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer .footer-start .icons img{
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box;
}

.footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}


